<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The MUD Chat Network.">
    <meta name="author" content="Vintner">

    <title>{{ page.title }}</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/overrides.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script defer src="https://analytics.sysadmin.foo/script.js" data-website-id="892e4024-ee69-40d8-89c5-6919b345dfd0"></script>
  </head>

  <body id="body">
    <header>
      <nav class="navbar navbar-expand-md">
        <div class="container">
          <a href="/">
            <img src="/images/vintner.png" height="30" />
          </a>

          <div class="collapse navbar-collapse" id="navbarLinks">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a href="https://grapevine.haus/" class="nav-link">Grapevine</a>
              </li>
              <li class="nav-item">
                <a href="https://vineyard.haus/" class="nav-link">Vineyard</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <div class="container">
        {{ content }}
      </div>
    </main>

    <footer>
      <div class="container">
        <a href="https://gossip.haus/conduct">Code of Conduct</a>
      </div>
    </footer>
  </body>
</html>
